/* general element styles. for whole page */
* {
    box-sizing: border-box; /* this code makes entire page 100% of viewport box */
    margin: 0 auto; /* centers all boxes in viewport*/
    padding: 5px; /* space on the inside of each box in viewport */
    max-width: 960px; /*the default size of the viewport is set to normal desktop screen/viewport size of 960px */
    /* margin-left: auto;
    margin-right: auto;*/
} 

/* entire page id=wrapper descriptors Box that contains all content */
#wrapper {
    border-style: solid; /*gives wrapper a visibal box*/
    border-width: 5px; /*gives wrapper box a thickness*/
    border-color: #000000; /*black*//*gives wrapper box a color*/
    /*padding: 0px;*/ /*this code would over ride the box-sizing padding of 5px to set no padding inside the wrapper box */
    margin-top: 10px; /* pushes the wrapped 10px off the top of the viewport*/
    /*margin-left: 15%;
    margin-right: 15%;*/
   /*margin-left: auto
    margin-right: auto;*/
    /*max-width: 960px;*/
    max-height: auto; /* allows the length of the wrapper box to stretch down the screen with content*/
    /*min-width: 960px;*/
}

/* entire page body default text appearance*/
body {
    font-family: georgia, sans-serif;
    font-size: 18px;
    line-height: 18px;   
}

/* entire page body link features*/
body a:link {} /* if it has not been clicked */
body a:visited {} /* if user has been to site */

body a:hover {
    color: grey; /* white */ /*light up links when user hovers over with mouse pointer*/
}

body a:active {
    text-decoration: underline /* is user is clicking down*/
} 

body a:focus {} /* if user hits tab key page selects next link */

/* header banner with home button and nav bar links*/
header {
    background-color: #000000; /* black */ /* header nav bar visual box color*/
    height: 55px; /* header nav bar visual box height*/
    width: 100%; /* header nav bar visual box 100% width of wrapper container*/
}

/*All of the links in the header */
header a {
    color: #aaaaaa; /* colors the linked words grey */
    text-decoration: none /* takes off underlines */
}

header a:link {} /* if it has not been clicked */
header a:visited {} /* if user has been to site */ /*changes the color of linked work if visited*/

header a:hover {
    color: #eeeeee; /* white */
}

header a:active {
    text-decoration: underline
} /* is user is clicking down*/

header a:focus {} /* if user hits tab key */

/* Just the h1 box*/
header h1 {
    float: left;
    display: inline;
    border: 3px solid white;
    padding: 10px;
    width: 39%; /* width is 40% of header box*/
    font-size: 28px;
    font-family: helvetica, arial, sana-serif;
    font-weight: 500; /*width of boldness 800 normall - 400 is thin */
}

/* Just the nav box*/ /* header nav bar link item box*/
header nav {
    float: left;
    display: inline;
   /*border: 3px solid red;*/ /*would add a visual colored box around the link box*/
    width: 60%; /* width is 40% of header box*/
    padding: 10px;
    /*margin-left: 10px;*/
    
}
/* Just the nav box links*/ /*each individual link item box*/
header nav a {
    float: left;
    display: inline;
   /*border: 3px solid red;*/ /*would add a visual colored box around the link box*/
    /*padding: 10px*/
    margin-right: 5px;
    font-size: 18px;
}

/* Just the img box*/
img {
    /*border: 5px solid #cccccc; /*grey*/
    margin: 0 auto;
    padding: 1px; /* Space on the inside but adds to the over all width. */
    width: 100%;
    float: left;
    margin-top: 3px;    
}

/* Just the article box*/

article {
    padding: 0 10px 0 10px;
    clear: both; /* ignore a float, stay as block level element */
    margin-bottom: 0px;
}
/*aticle headings bix - visual look and text appearance*/
article h1 {
    font-size: 36px;
    line-height: 36px;
    margin-top: 10px;
    width: 100%; /*100% of article box*/
}

article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%; /*100% of article box*/  
}

article h3 {
    font-size: 18px;
    line-height: 20px;
    margin-top: 5px;
    /*margin-bottom: 5px;*/
}

article h4 {
    font-size: 16px;
    line-height: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p { /*used under h2 for pages' into lines font appearance*/ /* and adjusts p box appearance*/ 
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 16px;
}

li { /* adjusts the look and text of the li boxes */
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 12px;
}

.description { 
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 15px;
}

.news { /* appearance of text in index page's news lines, contact page's email and phone #, & employment opportunity links */
margin-bottom: 1px;
font-size: 16px;
line-height: 24px;

}
.copyright{
font-size: 10px;
}

box {
float: left;
width: 100%;
clear:both;
    
}
container {
    float:left;
    width: 100%;
    height: auto;
    padding: 0 10px 0 10px;
}

container h4{
    font-size: 16px;
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
column1{
    float: left;
    width: 50%;
    margin-bottom: 2px;

}

column2 {
float: right; 
    width: 50%;
    margin-bottom: 2px;
    
}


ul li {
float:left;
    margin-left: 17px;
    float: left;
   width: 100%;

    
}

/*#admin {
margin-bottom: 12px;
font-size: 16px;
line-height: 24px;
}*/

/*boxes to visually space job description boxes*/
aside {
float:right;
border-style: solid;
border-width: 2px;
margin-left: 3px;
margin-bottom: 5px;
width: 45%    
}

div{
float:left;
}



button {
font-size: 36px;
    width: 50%;
    margin-left: 200px;
    border-style: solid; /*gives wrapper a visibal box*/
    border-width: 3px; /*gives wrapper box a thickness*/
    border-color: #000000; /*black*//*gives wrapper box a color*/
    

}

/* Just the subnav boxes*/
subnav {
   /* border: 3px solid red;*/
    background-color: #000000;
    width: 100%;
    margin-top: 3px;
    /*margin: 0 auto;*/
    /*margin-left: 20px;*/
    height: 30px;
    float: left;
}

subnav a {
    color: #aaaaaa; 
    margin-right: 10px;
    margin-left: 20px;
    text-decoration: none; /* takes off underlines */
    font-size: 15px;
}
    
/*All of the links in the subnav */

subnav a:link {} /* if it has not been clicked */
subnav a:visited {} /* if user has been to site */

subnav a:hover {
    color: #ffffff; /* white */
}

subnav a:active {
    text-decoration: underline
} /* is user is clicking down*/

subnav a:focus {} /* if user hits tab key */

article a:link {
color: red; /* red */
}


footer {
    font-size: 10px;
    padding: 0 10px 0 10px;
    clear: both
        
}
/*
@media screen and (max-width: 600px) {
    
      header {
        height: 95px;        
}
    
   header h1 {
        float: left;
        width: 100%;
        font-size: 26px;
       font-weight: 500;
    }
    
   header nav {
        width: 100%;
        clear: both;
       padding: 10px;
    }
    
    header nav a {
    float: left;
    display: inline;
   /*border: 3px solid red;*/ /*would add a visual colored box around the link box*/
    /*padding: 10px*/
   /* margin-right: 1px;
    font-size: 13px;
    font-weight: 500;
}
    
subnav {
    height: 120px;
    float: left;
    width: 55%;
    margin-left: 70px;
} 

subnav a {
     
    font-size: 13px;
    margin-right: 1px;
    margin-left: 1px;
   float:left;
    /*clear:both;*/
    /*text-align: center;*/
    }
   
 
}